.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // @extend %container;
  // @media screen and (min-width: 768px) {
  //   .first-part,
  //   .second-part {
  //     display: flex;
  //     justify-content: space-around;
  //   }
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }

  // @media screen and (max-width: 767px) {
  //   flex-direction: column;
  //   justify-content: center;
  // }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: $textColor3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
}

.logo-style {
  color: $accentColor;
}

.first-part {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.second-part {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    margin-left: 78px;
  }
}

.address {
  display: flex;
  justify-content: center;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $textColor3;
}

.contacts-footer .item{
  display: flex;
  
  // margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $cubic-bezier;

  &.item:hover,
  &.item:focus {
    color: $accentColor;
  }

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.social-network {
  display: flex;
  justify-content: center;

  & .item + .item {
    margin-left: 10px;
  }

  & .item {
    transition: background-color 250ms $cubic-bezier;
    border-radius: 50%;
  }
}

.social-network .inst {
  display: flex;
  width: 44px;
  height: 44px;
  background-image: url(../images/inst.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-network .twit {
  display: flex;
  width: 44px;
  height: 44px;
  background-image: url(../images/twit.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-network .face {
  display: flex;
  width: 44px;
  height: 44px;
  background-image: url(../images/face.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-network .link {
  display: flex;
  width: 44px;
  height: 44px;
  background-image: url(../images/link.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-network .item:hover,
.social-network .item:focus {
  background-color: $accentColor;
  border-radius: 50%;
}

.third-part {
  @media screen and (min-width: 1200px) {
    margin-left: 97px;
  }
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // flex-direction: column;
  // margin-left: 94px;
}

.invitation {
  display: flex;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    // margin-bottom: 20px;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $textColor3;
}

.footer-label {
  // display: block;
  // justify-content: center;
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   justify-content: center;
  // }

  @media screen and (max-width: 1199px) {
    display: flex;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

// .footer-item label {
//   width: 100%;
// }

.footer-input {
  // display: inline-block;
  // justify-content: center;

  // @media screen and (max-width: 767px) {
  //   width: 100%;
  // }

  @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: center;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  // display: flex;
  // flex-wrap: wrap;
  padding: 16px 15px;
  width: 100%;

  // width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: $textColor3;
}

.footer-item {
  & .item {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    & .item-input {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.button-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 10px 28px 10px 29px;
  // margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: $textColor3;
  background: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: #355d91;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.icon-send {
  margin-left: 10px;
  fill: $textColor3;
}
