.header {
  position: relative;
  // @extend %container;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-right: auto;
  // margin-left: auto;
  // max-width: 1600px;
  border-bottom: 1px solid #ececec;

  
}

.logo {
  // display: flex;
  // justify-content: space-between;
  // margin-right: 85px;

  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &-style {
    color: $accentColor;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 81px;
  }
}
