.auth-nav {
  & a:hover,
  & a:focus {
    fill: $accentColor;
    color: $accentColor;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    // display: block;
    // align-items: center;
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 305px;
    align-items: center;

    & .item + .item {
      margin-left: 30px;
    }
  }
}

.auth-nav .item {
  fill: $textColor2;

  @media screen and (max-width: 1199px) {
    &.item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.auth-icon {
  margin-right: 10px;
}

.envelope-icon,
.tel-icon {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: $textColor2;
  transition: color 250ms $cubic-bezier, fill 250ms $cubic-bezier;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}
