.main-nav,
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item-link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: $textColor1;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &.current {
    color: $accentColor;
  }
}

