$accentColor: #2196f3;

$textColor1: #212121;

$textColor2: #757575;

$textColor3: #ffffff;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// можно задать переменные на точки пелома: &mobile - 480px; &tablet - 768px ...
